<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function actualizarUsuario() {
        const form = document.getElementById('updateForm');
        const formData = new FormData(form);

        fetch('/Candoit/users', {
            method: 'PUT',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    alert('Usuario actualizado correctamente.');
                    setTimeout(function() {
                        window.location.href = '/Candoit/users';
                    }, 2000);
                } else {
                    alert('Error al actualizar el usuario.');
                }
            })
            .catch(error => {
                console.error('Error al realizar la solicitud:', error);
                alert('Error al actualizar el usuario.');
            });
    }
</script>
<body>
<h1>Editar Usuario</h1>
<form id="updateForm" th:object="${user}">
    <input type="hidden" name="id" th:field="*{id}"/>
    <label>Username:</label>
    <input type="text" id="username" name="username" readonly th:field="*{username}" required />

    <label>Password:</label>
    <input type="text" id="password" name="password" th:field="*{password}" required />

    <label>Rol:</label>
    <select th:field="*{roleId}">
        <option th:value=1 th:text="'Admin'"></option>
        <option th:value=2 th:text="'Consultor'"></option>
    </select>

    <button type="button" onclick="actualizarUsuario()">Guardar Cambios</button>
</form>
</body>
</html>